{% extends "base.html" %}
{% block title %}
<title>All about matLab</title>
{% endblock %}

{% block content %}
<div class="cont_2">
    <div class="heads">
        <h1>matLab</h1>
        <p id="tany"></p>
    </div>
    <article>
        <h2>introduction to matLab</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Nam, omnis. Illo voluptatum beatae quae, ullam nobis dolore assumenda consectetur eos itaque debitis deleniti aperiam ab veniam porro quasi aliquam eum.</p>
        <h2>using matLab</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h2>learn more</h2>
        <p>Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Ipsum ex sunt nostrum tempore enim fuga eveniet doloribus at odit minus.</p>
        <small class="smally">more details</small>
    </article>
</div>
{% endblock %}